body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
   }
:root{
  --color-accent:yellow;
}

.menu{

 

  display: flex;
  text-decoration: none;
  text-align: center;
  color: inherit;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  
  
  
  
}
a {
  flex: 1
 
  
}
a:hover{
  background-color: gray;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;

}
.nav{
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;

}

.current{
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
}
img{
  max-width: 100% 
}
.projects{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: subgrid;
  grid-row: span 3;
}
article{
  grid-template-rows: subgrid;
  grid-row: span 3;
}
.formControls{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
h1 {
  line-height: 1.1;
}
h2{
  line-height: 1.1;
}
.time{
  color:gray;
  font-style:italic;
  font-family: Arial, Helvetica, sans-serif;
}
.color-scheme{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}
